@import url("./vendor/normalize.css");

:root {
  --color-background-dark: #1f1f1f;
  --color-background-light: #f2f2f2;
  --color-link-figure: #2f80ed;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: var(--color-text-dark);
}

.page__section {
  margin-top: 100px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  background: var(--color-background-light);
}

.logo {
  width: 183px;
  height: 32px;
}

.logo-place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;

  background: url("./images/logo_place_header.svg") no-repeat;
}

.header__title {
  z-index: 100;

  width: 730px;
  margin: 0;
  padding-left: 64px;

  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 100;

  width: 388px;
  margin: 0;

  font-size: 18px;
  line-height: 25px;
}

.header__link {
  color: var(--color-link-figure);
  text-decoration: none;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 10;

  width: 568px;
  height: 568px;

  background: var(--color-link-figure);
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;

  width: 765px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;

  font-size: 18px;
  color: var(--color-link-figure);
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;

  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:nth-child(n+2) {
  margin-top: 30px;
}


.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  width: 60%;
  margin: 0;

  text-align: center;
  font-size: 60px;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0 0;

  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1100px;
  padding: 0;

  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
}

.table__heading {
  margin: 0;

  font-size: 24px;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0 0;

  font-size: 18px;
  line-height: 1.2;
}

.feinman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 890px;

  background: url("./images/feynman.png") no-repeat;
  background-position: left bottom;
  background-color: var(--color-background-light);
}

.feinman__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
}

.feinman__subtitle {
  margin: 0;

  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feinman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  bottom: 50%;

  font-size: 36px;
  color: var(--color-link-figure);
  line-height: 51px;
  text-decoration: none;
}
 
.kaufman {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-text-light);
  background-color: var(--color-background-dark);

  overflow: hidden;
}

.section-title_theme_dark {
  padding-top: 90px;
}

.table_theme_dark {
  z-index: 20;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 10;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;

  color: var(--color-text-light);
  background-color: var(--color-background-dark);
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__columns_content_copyright {
  flex-basis: 711px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-place_footer {
  background: url("./images/logo_place_footer.svg") no-repeat;
}

.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 18px;
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
}

.footer__column-links {
  padding: 0;
  margin-top: 20px;

  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
}

.footer__link {
  color: var(--color-text-light);
  text-decoration: none;
}

.footer__social-img {
  margin-right: 10px;
}