:root {
  --color-background-dark: #1f1f1f;
  --color-background-light: #f2f2f2;
  --color-link-figure: #2f80ed;
  --color-text: #000000;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.margin-top-section {
  margin-top: 100px;
}

.margin-top-paragraph {
  margin-top: 30px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-background-light);
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 183px;
}

.logo-place_header {
  background: url("./images/logo_place_header.svg") no-repeat;
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 64px;
}

.header__title {
  align-items: center;
  padding-left: 64px;
  height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  z-index: 100;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  height: 25px;
  width: 388px;
  font-size: 18px;
  z-index: 100;
}

.header__link {
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: var(--color-link-figure);
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 10;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 20;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--color-link-figure);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}
 
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}